/*<!---------------Group member-------------->
  <!----Amal alshahrani   1911280------------>
  <!----Aljohara almasuod 1911026------------>
  <!----Shouq alshamrani  1918214------------>
  <!----Taef mersal       1910892------------>*/

*{
  
  margin: 0;
  padding: 0;
  
}

body{
  font-family: AvenirNext,Helvetica,Arial,sans-serif;
}
/*******************************************header***********************************************************/
li, a, button{

  font-family: "Montaserrat",sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: aliceblue;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 10%;
  background-color: #24252A;

}
 
.logo{
  cursor: pointer;

}
.nav_link{
  list-style: none;

}
.nav_link li{
  display: inline-block;
  padding: 0px 20px;
  
}
.nav_link li a {
  transition: all 0.3s ease 0s;

}

.nav_link li a:hover{

  color:aqua
}

button{
  padding: 9px 25px;
  background-color:aqua;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
button:hover{
  background-color: rgba(0, 136,169, 0.8);

}


/**************************************************main****************************************************8*/

.art {
  float: left;
  padding: 20px;
  width: 20%;
  height: 313px;
  background:#35383e;
  
}

.card1{
  width:200px;
  height: 230px;
  display:inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position:center;
  background-size: cover;
}

.card2{
  width:200px;
  height: 230px;
  display:inline-block;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position:center;
  background-size: cover;
}

.card3{
  width:200px;
  height: 230px;
  display:inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position:center;
  background-size: cover;
}


.card1:hover{
  transform: translateY(-10px);
}

.card2:hover{
  transform: translateY(-10px);
}

.card3:hover{
  transform: translateY(-10px);
}


/*****************************************************aside***************************************************/
.aside{
 
  top: -297px;
  position:relative;
  float: right;
  width: 15%;
  height: 398px; 
  background:#35383e;
  padding: 30px;
  list-style-type: none;
  
  }

  
 @media screen and (max-width: 480px) {
  .nav li a {
    float: none;
    width: 100%;
  }
}
 
/*************************************************************footer***************************************/ 

.footer {
  width: 100%;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  background:#11100c36; 
  text-align: center;
  clear:both;
  position: auto;
  bottom: 300px;
  
}


.footer p{
    color:black;
    font-size: 17px;
     
}
.menuf ul{
  text-align: center;
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
  
}
.menuf  li{
  list-style: none;
  display: inline-block;
  
}

.menuf  a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;  
}

/********************About Us*************************************/

/*************************************Table************************/

.containear{
  text-align: center;

}
.header-text{
  padding-top: 60px;
  color: rgb(17, 14, 14);
  font-size: 40px;
  margin: auto;
  line-height: 50px;
}

.subCon{
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.teams{
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}
.teams:hover{
  background: rgb(121, 149, 135);
}
.teams img{
  width: 200px; height: 200px;
}

.names{
  padding: 12px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.design{
  font-size: italic;
  color: aliceblue;
  font-size: 17px;

}
.about{
  margin: 20px 0;
  color: rgb(39, 57, 58);
  font-size: 17px;
  font-weight: bold;
}

.social-links{
  margin: 14px;
}
.social-links a{
  display: inline-block;
  height: 30px; width: 30px;
  color: #000;
}
.social-links a:hover{
  transform: scale(1.5);
}
/********************Contact Us*************************************/





/********************Contact Us*************************************/




